html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

body {

    overflow-y: hidden;
}

@media only screen and (min-width: 700px) {
    .card-section {

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #card-list {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 15em;

        list-style: none;
    }

    main div {

        position: absolute;
        margin: 0 auto 0 auto;
        height: 100%;
        width: 100%;
    }

    .fade-slice {

        z-index: 1;

        height: 100%;
        width: 100%;

        position: relative;
        border-image-slice: fill;

        pointer-events: none;
    }

    @keyframes movingCard {

        0% {
            transform: translateX(350em);
        }

        100% {
            transform: translateX(-341em);
        }
    }

    .card {

        height: 60em;
        width: 100em;
        background-color: white;
        border-radius: 25px;

        transition: 0.3s;
        box-shadow: -1px 0 1em 1em rgba(0, 0, 0, 0.05);
        box-shadow: 1px 0 1em 1em rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 1px 1em rgba(0, 0, 0, 0.05);
        box-shadow: -0 -1px 1em 1em rgba(0, 0, 0, 0.05);

        animation: movingCard 60s linear infinite;

        cursor: pointer;
    }

    .card-content {
        text-decoration: none;
    }

    .card:hover {

        border: 5px solid lightskyblue;
    }

    .card-image {

        width: 100%;
        height: 100%;

        border-radius: 20px;

        position: absolute;

        top: 0;

        margin: 0 auto;
    }

    .card-background {

        position: absolute;
        margin-left: 32.25%;
        border-radius: 20px;
        height: 100%;
        width: 15em;

        filter: blur(5px);
        opacity: 0.75;

        background: linear-gradient(90deg, rgba(100, 100, 100, 1), rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
    }

    .card-textbox {

        position: absolute;
        background-color: rgba(100, 100, 100, 0.9);

        border-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        padding-left: 1.5em;
        padding-right: 1.5em;
        height: 100%;
        width: 33%;
    }

    .card-header {

        color: white;
        font-size: 4em;
        font-weight: 500;

        text-decoration: none;
        border-bottom: 0.075em lightskyblue solid;

    }

    .card-body {

        font-size: 2em;
        color: white;
        text-decoration: none;

    }

    #card-strong {

        color: lightskyblue;
        font-size: 1.1em;
        font-weight: 700;
    }

    #card-small {

        color: lightskyblue;
        font-size: 0.75em;
        font-weight: 500;
    }
}

@media only screen and (max-width: 699px) {

    .card-section {

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #card-list {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        /* gap: 15em; */

        list-style: none;

        width: 100%;
        height: 100%;
    }

    main div {
        position: absolute;
        margin: 0 auto 0 auto;
        height: 100%;
        width: 100%;
    }

    .fade-slice {

        z-index: 1;

        height: 100%;
        width: 100%;

        position: relative;
        border-image-slice: fill;

        pointer-events: none;
    }

    @keyframes movingCard {

        0% {
            transform: translateX(350em);
        }

        100% {
            transform: translateX(-341em);
        }
    }

    .card {

        height: 10em;
        width: 10em;
        background-color: white;
        border-radius: 25px;

        transition: 0.3s;
        box-shadow: -1px 0 1em 1em rgba(0, 0, 0, 0.05);
        box-shadow: 1px 0 1em 1em rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 1px 1em rgba(0, 0, 0, 0.05);
        box-shadow: -0 -1px 1em 1em rgba(0, 0, 0, 0.05);

        /* animation: movingCard 60s linear infinite; */

        cursor: pointer;
    }

    .card-content {
        text-decoration: none;
    }

    .card:hover {

        border: 5px solid lightskyblue;
    }

    .card-image {

        width: 100%;
        height: 100%;

        border-radius: 20px;

        /* position: absolute; */

        top: 0;

        margin: 0 auto;
    }

    .card-background {

        /* position: absolute; */
        margin-left: 32.25%;
        border-radius: 20px;
        height: 100%;
        width: 100%;

        filter: blur(5px);
        opacity: 0.75;

        background: linear-gradient(90deg, rgba(100, 100, 100, 1), rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
    }

    .card-textbox {

        /* position: absolute; */
        background-color: rgba(100, 100, 100, 0.9);

        border-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        padding-left: 1.5em;
        padding-right: 1.5em;
        height: 100%;
        width: 33%;
    }

    .card-header {

        color: white;
        font-size: 2em;
        font-weight: 500;

        text-decoration: none;
        border-bottom: 0.075em lightskyblue solid;

    }

    .card-body {

        font-size: 2em;
        color: white;
        text-decoration: none;

    }

    #card-strong {

        color: lightskyblue;
        font-size: 1.1em;
        font-weight: 700;
    }

    #card-small {

        color: lightskyblue;
        font-size: 0.75em;
        font-weight: 500;
    }
}