html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

@media (min-width: 1000px) {

    main {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    main div {

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

    }

    main > div h1 {
        margin: 0 0;
        padding: 0 0;

        font-size: 7.5em;
    }

    main > div form {

        height: 30%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main > div > form label {

        margin: 0;
        padding: 0;

        position: relative;

        font-size: 150%;
        line-height: 0;

        top: 35px;
        opacity: 0.5;
    }

    main > div > form nav {

        width: 100%;

        margin-top: 2.5em;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    main > div > form > nav > ul {

        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        gap: 1em;
    }

    main > div > form > nav > ul > li input {
        
        padding: 1em 5em;
        color: white;
        background-color: lightskyblue;
        
    }

    main > div > form > nav > ul > li {

        text-align: center;
        list-style-type: none;
    }

    main > div > form > nav > ul > li a {

        padding: 1em 5em;
        color: lightskyblue;
        border-radius: 10px;

        font-size: 1em;
        text-decoration: none;
    }

    #userLabel {

        
    }

    #passLabel {

    }

    main > div > form input {

        height: 20%;
        width: 33%;

        border-radius: 15px;
        border: 3px solid lightskyblue;
    }

    aside {

        height: 100%;
        width: 50%;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;    
        align-items: center;

        background-image: url(../../shared_media/images/PZJGR90_WIRE.png);
        background-size: cover;
        background-repeat: repeat;
        background-position: 75% 0;
    }

    aside h1 {

        font-size: 10em;
        color: white;
    }

    aside strong {

        font-size: 1em;
        color: lightskyblue;

        -webkit-text-stroke: 1px white;
    }



}

@media (max-width: 999px) {

    


}