html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

body {

    overflow-y: scroll;
}

.all-section {
    margin-top: 5rem;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 10rem;
}

.article {
    display: flex;
}

.item-frame {
    height: 50em;
    width: 50em;
    border-radius: 15px;
    border: 3px solid black;

    justify-self: center;
    align-self: center;

    margin-left: 15rem;
    margin-right: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item-frame img {
    width: 80%;
    height: auto;
    
}

.gui-buttons {
    display: flex;
    flex-direction: column;

}

.model-title {
    font-size: 2.5em;

    justify-self: center;
    align-self: center;
    margin-top: 10rem;
}

.model-description {
    font-weight: 600;
    font-size: large;
}

.stars {
    font-size: 3em;
    text-align: center;
}

.buy-button {

    font-size: large;

    border-radius: 15px;

    padding: 1em 9em;
    margin-top: 5rem;

    text-decoration: none;
    background-color: lightskyblue;
    color: white;
    font-weight: 700;

    justify-self: center;
    align-self: center;
    
}

.buy-button:hover {
    border: solid black 2px;
}