html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

body {

    overflow-y: scroll;
}

@media only screen and (min-width: 500px) {
    .all-section {
        margin-top: 5rem;

        width: 100%;

        display: flex;
        flex-direction: row;

        flex-wrap: wrap;

        justify-content: space-around;

    }

    .article {
        display: flex;

        flex-direction: column;

        width: 50em;
        height: auto;

        border: 3px solid lightskyblue;

        border-radius: 15px;

        margin-bottom: 10em;

        transition: 0.3s;
    }

    .article:hover {
        scale: 1.05;

        border: 3px solid rgb(0, 157, 255);
    }

    .item-frame {
        height: 30em;
        width: 30em;
        border-radius: 15px;
        border: 3px solid black;

        justify-self: center;
        align-self: center;

        margin-top: 5em;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-frame img {
        width: 80%;
        height: auto;

    }

    .gui-buttons {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        height: 25em;
    }

    .model-title {
        font-size: 2em;

        justify-self: center;
        align-self: center;
        margin-top: 3rem;

        height: 33%;

    }

    .model-description {
        font-weight: 600;
        font-size: 1.5em;

        padding: 0em 2em;

        height: 33%;

    }

    .stars {
        font-size: 3em;
        text-align: center;

        height: 34%;

    }

    .buy-button {

        font-size: large;

        border-radius: 15px;

        padding: 1em 9em;

        text-decoration: none;
        background-color: lightskyblue;
        color: white;
        font-weight: 700;

        justify-self: center;
        align-self: center;

        transition: 0.5s;

        border: solid lightskyblue 2px;

        margin-bottom: 3em;
    }

    .buy-button:hover {
        border: solid black 2px;
    }
}

@media only screen and (max-width: 500px) {
    .all-section {
        margin-top: 5rem;

        width: 100%;

        display: flex;
        flex-direction: row;

        flex-wrap: wrap;

        justify-content: space-around;

    }

    .article {
        display: flex;

        flex-direction: column;

        width: 80%;
        height: auto;

        border: 3px solid lightskyblue;

        border-radius: 15px;

        margin-bottom: 10em;

    }

    .article:hover {
        scale: 1.05;

        border: 3px solid rgb(0, 157, 255);
    }

    .item-frame {
        height: 25em;
        width: 80%;
        border-radius: 15px;
        border: 3px solid black;

        justify-self: center;
        align-self: center;

        margin-top: 5em;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-frame img {
        width: 80%;
        height: auto;

    }

    .gui-buttons {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        height: 25em;
    }

    .model-title {
        font-size: 2em;

        justify-self: center;
        align-self: center;
        margin-top: 3rem;

        height: 33%;

    }

    .model-description {
        font-weight: 600;
        font-size: 1.5em;

        padding: 0em 2em;

        height: 33%;

    }

    .stars {
        font-size: 3em;
        text-align: center;

        height: 34%;

    }

    .buy-button {

        font-size: large;

        border-radius: 15px;

        padding: 0.7em 4em;

        text-decoration: none;
        background-color: lightskyblue;
        color: white;
        font-weight: 700;

        justify-self: center;
        align-self: center;

        transition: 0.5s;

        border: solid lightskyblue 2px;

        margin-bottom: 3em;
    }

    .buy-button:hover {
        border: solid black 2px;
    }
}