.bubble-frame {
    width: 100%;
    height: 100%;

    margin-top: 10em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10em;

    justify-content: center;
}

.bubble {
    border: 2px solid black;
    height: 15em;
    width: 15em;
}