html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    font-weight: bold;
    font-size: 2.5em;
    color: lightskyblue;
    text-decoration: none;
}

.nav-li {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    gap: 3rem;
}

.nav-li a {
    text-decoration: none;
    color: black;
    font-weight: 450;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem
}

.header-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.header-button a {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-weight: 600;
    background-color: lightskyblue;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.header-button a:hover {

    scale: 1.05;
}

    /* body */

.all-section {
    margin-top: 5rem;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.article {
    display: flex;
}

.item-frame {
    height: 35em;
    width: 35em;
    border-radius: 15px;
    border: 3px solid black;

    justify-self: center;
    align-self: center;

    margin-left: 15rem;
    margin-right: 15rem;

    background-image: url(../shared_media/images/3dmodelsketch.png);
}

.gui-buttons {
    display: flex;
    flex-direction: column;

}

.model-title {
    font-size: 2.5em;

    justify-self: center;
    align-self: center;
    margin-top: 10rem;
}

.model-description {
    font-weight: 600;
    font-size: large;
}

.buy-button {

    border-radius: 15px;

    padding: 1em 9em;
    margin-top: 5rem;

    text-decoration: none;
    background-color: lightskyblue;
    color: white;
    font-weight: 700;

    justify-self: center;
    align-self: center;
    
}

.buy-button:hover {
    border: solid black 2px;
}