html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    font-weight: bold;
    font-size: 2.5em;
    color: lightskyblue;
    text-decoration: none;
}

.nav-li {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    gap: 3rem;
}

.nav-li a {
    text-decoration: none;
    color: black;
    font-weight: 450;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem
}

.header-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.header-button a {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-weight: 600;
    background-color: lightskyblue;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

.header-button a:hover {

    scale: 1.05;
}

body {

    margin: 0 auto;
    padding: 0 auto;

    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: lightskyblue;
    background-color: white;

    flex-grow: 1;
}

footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5em;

    color: white;
    font-weight: 450;
    background-color: rgb(100, 100, 100);
    box-shadow: -1px 0 5em 5em rgba(0, 0, 0, 0.15);
}


.card-section{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#card-list {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 15em;

    list-style: none;
}

@keyframes movingCard {

    0% {transform: translateX(100em); opacity: 100;}

    100% {transform: translateX(-96em); opacity: 100;}
}

.card {

    height: 30em;
    width: 50em;
    background-color: white;
    border-radius: 25px;

    transition: 0.3s;
    box-shadow: -1px 0 1em 1em rgba(0, 0, 0, 0.05);
    box-shadow: 1px 0 1em 1em rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px 1em rgba(0, 0, 0, 0.05);
    box-shadow: -0 -1px 1em 1em rgba(0, 0, 0, 0.05);

    animation: movingCard 30s linear infinite;

    cursor: pointer;
}

.card-content {
    text-decoration: none;
}

.card:hover {

    border:3px solid lightskyblue;
}

.card-image {

    width: 100%;
    height: 100%;

    border-radius: 20px;

    position: absolute;
    
    top: 0;
    
    margin: 0 auto;
}

.card-background {

    position: absolute;
    margin-left: 37.5%;
    border-radius: 20px;
    height: 100%;
    width: 10em;

    filter: blur(5px);
    opacity: 0.75;

    background: linear-gradient(90deg ,rgba(100,100,100,1), rgba(100,100,100,0));
}

.card-textbox {

    position: absolute;
    background-color: rgb(100, 100, 100);

    border-radius: 20px;

    padding-left: 1.5em;
    padding-right: 1.5em
    ;
    height: 100%;
    width: 37.5%;
}

.card-header {

    font-size: 3em;
    color: lightskyblue;
    text-decoration: none;

}

.card-body {

    font-size: 1em;
    color: lightskyblue;
    text-decoration: none;

}