html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

header {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    font-weight: bold;
    font-size: 5em;
    color: lightskyblue;
    text-decoration: none;
}

.nav-li {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    gap: 4rem;
}

.nav-li a {
    text-decoration: none;
    color: black;
    font-size: 1.75em;
    font-weight: 450;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem
}

.header-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.header-button a {
   
    padding: 0.75em 2em;

    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;

    background-color: lightskyblue;
    
    border-radius: 10px;
    border: none;
}

.header-button a:hover {

    scale: 1.05;
}

body {

    margin: 0 auto;
    padding: 0 auto;

    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: lightskyblue;
    background-color: white;

    flex-grow: 1;
}

footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5em;

    color: white;
    font-weight: 450;
    background-color: rgb(100, 100, 100);
    box-shadow: -1px 0 5em 5em rgba(0, 0, 0, 0.15);
}


.card-section{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#card-list {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 15em;

    list-style: none;
}

@keyframes movingCard {

    0% {transform: translateX(100em); opacity: 100;}

    100% {transform: translateX(-96em); opacity: 100;}
}

.card {

    height: 60em;
    width: 100em;
    background-color: white;
    border-radius: 25px;

    transition: 0.3s;
    box-shadow: -1px 0 1em 1em rgba(0, 0, 0, 0.05);
    box-shadow: 1px 0 1em 1em rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px 1em rgba(0, 0, 0, 0.05);
    box-shadow: -0 -1px 1em 1em rgba(0, 0, 0, 0.05);

    animation: movingCard 60s linear infinite;

    cursor: pointer;
}

.card-content {
    text-decoration: none;
}

.card:hover {

    border:5px solid lightskyblue;
}

.card-image {

    width: 100%;
    height: 100%;

    border-radius: 20px;

    position: absolute;
    
    top: 0;
    
    margin: 0 auto;
}

.card-background {

    position: absolute;
    margin-left: 32.25%;
    border-radius: 20px;
    height: 100%;
    width: 15em;

    filter: blur(5px);
    opacity: 0.75;

    background: linear-gradient(90deg ,rgba(100,100,100,1), rgba(100,100,100,0.5), rgba(100,100,100,0));
}

.card-textbox {

    position: absolute;
    background-color: rgba(100, 100, 100, 0.9);

    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    padding-left: 1.5em;
    padding-right: 1.5em
    ;
    height: 100%;
    width: 33%;
}

.card-header {

    color: white;
    font-size: 4em;
    font-weight: 500;

    text-decoration: none;
    border-bottom: 0.075em lightskyblue solid;

}

.card-body {

    font-size: 2em;
    color: white;
    text-decoration: none;

}

#card-strong {

    color: lightskyblue;
    font-size: 1.25em;
    font-weight: 700;
}

#card-small {

    color: lightskyblue;
    font-size: 0.75em;
    font-weight: 500;
}